.App {
  margin: auto;
  gap: 20px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 600px;
  
  min-height: 100vh;
}

.photo-card {
  background-color: rgb(160, 160, 160);
  text-align: center;
  width: 180px;
  
}



.photo-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  
}

h4 {
  font-size: 14px;
  margin-top: 10px;
  color: #333;
}
